.ups-battery-selection {
  width: 100%;

  overflow-x: hidden;

  &__title-wrp {
    margin-bottom: 32px;
    padding-top: 90px;

    text-align: center;

    @extend %flexCent;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
  }

  &__text {
    max-width: 860px;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
  }

  &__form {
    margin-bottom: 24px;

    @include __620 {
      margin-bottom: 48px;
    }
  }

  &__form-wrp {
    margin-bottom: 24px;

    gap: 24px;

    @extend %flexCentBetwin;
    flex-wrap: wrap;

    @include __620 {
      gap: 16px;

      flex-direction: column;
    }
  }

  &__form-wrp-text {
    height: 36px;
    margin-bottom: 16px;

    @extend %flexCent;
    justify-content: flex-start;

    gap: 8px;
  }

  &__help-text-wrp {
    width: 276px;

    padding: 16px;

    position: absolute;
    bottom: 34px;
    right: 80%;
    transform: translate(50%);

    background-color: $color-gray-100;
    border-radius: 8px;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease-in-out;

    &::after {
      width: 24px;
      height: 24px;
      content: "";

      position: absolute;
      bottom: -12px;
      right: 44%;
      transform: rotate(-45deg);

      display: flex;

      background-color: $color-gray-100;
    }
  }

  &__help-cont-wrp {
    position: relative;

    cursor: pointer;

    &:hover .ups-battery-selection__help-text-wrp {
      opacity: 1;
      visibility: inherit;
      transition: 0.3s ease-in-out;
    }
  }

  &__form-input {
    max-width: 326px;
    height: 40px;

    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid $color-gray-200;
    border-radius: 8px;

    &.error {
      border: 1px solid red;
    }

    &.disabled {
      border: 1px solid $color-gray-90;
      color: $color-gray-90;
    }

    @include __620 {
      max-width: none;
      width: 100%;
    }
  }

  &__error {
    position: absolute;
    top: 16px;

    display: none;

    font-size: 14px;
    color: red;

    &.active {
      display: flex;
    }
  }

  &__form-input-wrp {
    position: relative;

    @include __620 {
      width: 100%;
    }
  }

  &__form-switch-wrp {
    width: 56px;
    height: 32px;

    position: relative;

    display: flex;

    background-color: $color-gray-150;
    border-radius: 32px;
    cursor: pointer;

    transition: 0.3s ease-in-out;

    &.active .ups-battery-selection__form-switch {
      right: 2px;

      transition: 0.3s ease-in-out;
    }

    &.active {
      background-color: $color-gray-200;
      transition: 0.3s ease-in-out;
    }
  }

  &__form-switch {
    width: 28px;
    height: 28px;

    position: absolute;
    top: 2px;
    right: 26px;

    display: flex;

    background-color: white;
    border-radius: 50%;

    transition: 0.3s ease-in-out;
  }

  &__h2 {
    margin-bottom: 24px;

    font-size: 18px;
    text-align: center;
  }

  &__form-result-title {
    margin-bottom: 8px;
  }

  &__btn-result {
    height: 40px;

    padding-left: 24px;
    padding-right: 24px;

    border-radius: 8px;
    background-color: $color-blue-70;
    border: 1px solid $color-blue-70;
    color: white;

    transition: 0.3s;

    &:hover {
      background-color: white;
      color: $color-blue-70;

      transition: 0.3s;

      @include __620 {
        background-color: $color-blue-70;
        color: white;
      }
    }

    @include __620 {
      width: 100%;
    }
  }

  &__form-result-text {
    margin-bottom: 16px;
  }

  &__form-result-number {
    font-weight: 700;
    font-size: 18px;
  }
}
